body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


.drone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
}

.droneSingle {
  width: 500px;
  margin: 15px 30px;
  background-color: rgb(253, 238, 219);
  padding: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 155px;
  font-weight: bolder;
  height: 50px;
  margin-top: 10px;
}

body {
  background-color: rgb(182, 180, 180) !important;
}

body form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#delete {
  width: 100px;
  position: relative;
  left: 380px;
}

#update {
  color: white;
  background-color: dimgray;
  border-radius: 4px;
  padding: 4px;
}